{% extends "layout.html" %}
{% block content %}

  <h3>Chicken Alfredo Fettucini Recipe</h3>
  <table>
    <tr>
      <td><strong>Ingredients</strong></td>
      <td><strong>Instructions</strong></td>
    </tr>
    <tr>
      <td>- 6 Garlic cloves ; peeled and smashed with a knife</td>
      <td>1. Rub garlic over chicken; reserve garlic. Season chicken with salt and pepper and rub in seasonings with your hands; set aside.</td>
    </tr>
    <tr>
      <td>- 1 lb Boneless chicken breast ; washed, uncooked patted dry</td>
      <td>2. Heat a large, heavy skillet over medium heat.
</td>
    </tr>
    <tr>
      <td>- 1 tspn Salt</td>
      <td>3. Off heat, coat skillet with cooking spray and then set over medium-low heat. Sauté garlic until fragrant, about 1 minute. Add chicken and cook until golden, flipping once, about 5 minutes per side.</td>
    </tr>
    <tr>
      <td>- 1 tspn Pepper</td>
      <td>4. Heat a large skillet (nonstick or cast-iron) or griddle over medium. Add ½ tsp of butter.</td>
    </tr>
    <tr>
      <td>- Spray Cooking Spray</td>
      <td>- Off heat, coat skillet with cooking spray and then set over medium-low heat. Sauté garlic until fragrant, about 1 minute. Add chicken and cook until golden, flipping once, about 5 minutes per side.</td>
    </tr>
    <tr>
      <td>- 1/2 cup Canned Chicken Broth</td>
      <td>6. Meanwhile, in a small bowl, combine broth, heavy cream and yogurt; pour over chicken and scrape bottom of skillet with a wooden spoon to incorporate seasonings. Simmer chicken gently, turning once, about 30 minutes.</td>
    </tr>
    <tr>
      <td>- 1/4 cup Heavy whipping cream</td>
      <td>7. While chicken is cooking, bring a medium pot of salted water to a boil. Cook pasta according to package directions; drain.</td>
    </tr>
    <tr>
      <td>- 1/4 cup whole milk plain yogurt</td>
      <td>8. Remove chicken from cream sauce and set aside. Add Parmesan cheese to cream sauce and mix until well-combined. Add cooked pasta and 3 tablespoons of parsley; toss well. Serve pasta topped which chicken and rest of parsley. Yields about 3 ounces of chicken and 2/3 cup of pasta/sauce per serving.</td>
    </tr>
    <tr>
      <td>- 1/8 tspn table salt ; for cooking pasta</td>
      <td>9. Notes: For a hint of spice, you can add 1/4 teaspoon of freshly grated nutmeg to the sauce. You can also use basil instead of parsley.
    </tr>
    <tr>
      <td>- 8 oz Whole wheat pasta fettuccini</td>
    </tr>
    <tr>
      <td>- 1/2 cup Pramesan cheese ; Suggested Parmigiano-Reggiano</td>
    </tr>
        <tr>
      <td>- 1/4 cup Fresh parsley chopped</td>
    </tr>
  </table>

{% endblock content %}
