{% extends "layout.html" %}
{% block content %}

  <h2 align="center">Grilled Cheese Sandwich</h2>
  <table align="center">
    <tr>
      <td><strong>Ingredients</strong></td>
      <td><strong>Instructions</strong></td>
    </tr>
    <tr>
      <td>- tbsp butter, softened</td>
      <td>Put cheese slices on one slice of bread then put the other slice on top</td>
    </tr>
    <tr>
      <td>- 2 slices soft white bread</td>
      <td>2. Butter the pan with 1 tablespoon butter.</td>
    </tr>
    <tr>
      <td>- 1 slice of cheddar</td>
      <td>3.Put sandwich on the pan</td>
    </tr>
    <tr>
      <td>- 1 slice of provolone</td>
      <td>4. Slice in half, and enjoy!</td>
    </tr>
    <tr>
      <td>- 1 slice of pepper jack</td>
    </tr>
    <tr>
      <td>- 1 slice of mozzarella</td>
    </tr>

  </table>

{% endblock content %}
