{% extends "layout.html" %}
{% block content %}

  <h3>Beef Stir Fry Veggies</h3>
  <table>
    <tr>
      <td><strong>Ingredients</strong></td>
      <td><strong>Instructions</strong></td>
    </tr>
    <tr>
      <td>- 250 grams (1/2 pound) beef sirloin (or other tender cut), sliced into 5mm thick pieces, cut against the grain</td>
      <td>1.Cut beef</td>
    </tr>
    <tr>
      <td>- 1/2 teaspoon dark soy sauce</td>
      <td>2. Combine beef, dark soy sauce, and Shaoxing wine in a small bowl, mix well. Add cornstarch and mix by hand, until the beef is evenly coated and starts to feel sticky. Set aside and allow to marinate for 10 to 15 minutes..
</td>
    </tr>
    <tr>
      <td>- 1 tablespoon Shaoxing wine</td>
      <td>3. Combine oyster sauce, all-purpose chili garlic sauce, sugar, and water in a small bowl. Mix well and set aside. (MIX IN ANOTHER BOWL)
</td>
    </tr>
    <tr>
      <td>- 1 teaspoon cornstarch</td>
      <td>4. Chop veggies while marinating the beef</td>
    </tr>
    <tr>
      <td>- 2 tablespoons oyster sauce</td>
      <td>5. Heat a skillet over medium high heat until hot. Add 1 tablespoon oil and swirl to coat the bottom. (Or you can add oil into a nonstick skillet and heat oil until hot.)</td>
    </tr>
    <tr>
      <td>- 2 tablespoons all-purpose chili garlic sauce</td>
      <td>6. Add beef and spread it over the bottom of the wok with a spatula. Let it cook for 20 to 30 seconds without stirring. This will help the beef come clean from the wok when cooked and won’t stick to the bottom. Flip with spatula. Stir and cook until the surface turns dark brown but the inside is still raw. Turn to lowest heat and immediately transfer to a plate. </td>
    </tr>
    <tr>
      <td>- 2 teaspoons sugar</td>
      <td>7. Add the remaining 1/2 tablespoon oil and ginger into the same wok. Turn back to medium high heat (high heat on an electric stove). Stir a few times until fragrant. Add onion. Stir and cook until soft, about 1 minute. Add bell pepper and stir and cook for 30 seconds, until it’s half cooked through. Add beef back into wok. Mix the sauce again and pour it over top of the beef and vegetables. Immediately stir to mix everything well for a minute, until the beef is cooked through (although I like to leave the beef a bit rare, so it will have a super soft texture). Turn off heat and immediately transfer everything to a plate. </td>
    </tr>
    <tr>
      <td>- 1 tablespoon water</td>
      <td>8. Serve warm over steamed white rice as a main dish. </td>
    </tr>
    <tr>
      <td>- 1 and 1/2 tablespoons peanut oil (or vegetable oil)</td>
      <td>9. Notes:The dark soy sauce will add a nice color to the beef. You could use light soy sauce instead, but the finished beef will be pale brown in color.</td>

    </tr>
    <tr>
      <td>- 1 teaspoon minced ginger</td>
    </tr>
    <tr>
      <td>- (140 grams) onion, chopped</td>
    </tr>
        <tr>
      <td>- 1 (300 grams) cup chopped bell pepper</td>
    </tr>
    </tr>
        <tr>
      <td>- steamed white rice</td>
    </tr>
  </table>

{% endblock content %}
